body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin:0;
   padding:0;
   box-sizing: border-box;
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
  background: linear-gradient(#111, #222);
  position: relative;
}
.container{
  width:80%;
  height:80%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
header{
  display:flex;
  justify-content: space-between;
  width:90%;
  margin:auto;
}
a{
  text-decoration: none;
  color:white;
}

header .logo{
margin-top:10px;
text-transform: uppercase;
font-size: 25px;
font-weight:bold;
}

nav{
  margin-top:10px;
  font-size:14px;
  font-weight: bold;
}
nav a{
  margin-left:5px;
}

nav a:hover{
  color:red;
}

section{
  width:40%;
  color:white;
  margin-left:50px;
  margin-top:110px;
  position: relative;
}
section h2{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size:25px;
}
section p{
  margin-bottom: 5px;
  line-height: 20px;
  word-break: break-all;
  font-size:15px;
}

body:after{
  content: '';
  height: 100%;
  width: 100%;
  background: red;
  position: absolute;
  clip-path: circle(50% at right bottom);
  z-index: -1;
}
.img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 210px; 
}

.img img {
  width: 100%;
}

@media (min-width:640px) and (max-width:700px) {
.img {
  width: 240px; 
}

.img img {
  width: 100%;
}
}

@media (min-width:701px) and (max-width:900px) {
section h2{
  letter-spacing: 3px;
  font-size:30px;
}
section p{
  line-height: 23px;
  word-break: break-all;
  font-size:20px;
}
.img {
  width: 270px; 
}

.img img {
  width: 100%;
}
}

@media (min-width:901px)  {

section h2{
  letter-spacing: 3px;
  font-size:33px;
}
section p{
  line-height: 23px;
  font-size:22px;
}
.img {
  width: 300px; 
}

.img img {
  width: 100%;
}
}

@media (max-width:530px) {
  header{
    flex-direction: column;
  }
  header nav{
    margin-left:50px;
  }
  header .logo{
    margin-left:115px;
  }

  body:after{
  clip-path: circle(50% at bottom);
  }

  .img {
  bottom: 20px;
  width: 180px; 
}
.img img {
  width: 100%;
}

section h2{
 font-size:23px;
}
section p{
  font-weight: 700;
  margin-right:10px;
}
}
